body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .sign-up,
  .log-in {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 20px;
  }
  
  form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
    margin: 0 auto;
    width: 500px;
  }
  
  
label {
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
    width: 120px;
  }

  input[type="radio"] {
    margin-right: 10px;
    

  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    
  }
  
  select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
  }

 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
  }
  
  header img {
    width: 200px;
    height: 80px;
    
  }
  
  header .btn-container {
    display: flex;
  }
  
  header .btn {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 20px;
  }
  
  nav {
    background-color: white;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: green;
    font-size: 18px;
  }
  
  main {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
    margin: 0 auto;
    width: 500px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 18px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
  


